@tailwind base;
@tailwind components;
@tailwind utilities;

main {
	margin-left: 5rem; /* 64px to match the non-expanded sidebar width */
}

html {
	scroll-behavior: smooth;
	background-color: rgb(22, 22, 22);
	color: white;
}
